{% extends 'base.html.twig' %}

{% block title %}
	PasswdController
{% endblock %}

{% block body %}
	{% dump(passwds) %}
	{% for passwd in passwds %}
		<p>
			{{passwd.webSite}}
			::
			{{ passwd.login }}
			::
			{{ passwd.password }}
		</p>
	{% endfor %}
{% endblock %}
